@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

.play {
	opacity: 1;
}

.win {
	opacity: 0.4;
}

.App {
	width: 40vw;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 4rem;
	font-weight: 200;
}


.buttons {
	display: block;
	text-align: center;
}

button {
	text-transform: uppercase;
	vertical-align: top;
	border: 1px solid;
	margin: 20px 10px 20px 0;
	height: 20px;
	border-radius: 3px;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1);
}

button:hover {
	cursor: pointer;
	background-color: #ccc;
}

a {
	color: inherit;
}

.credits {
	display: block;
	font-size: 0.8rem;
	color: #aaa;
	margin: 5vh auto;
	text-align: center;

}
