.colors {
	display: block;
	vertical-align: top;
	height: 20px;
	text-align: center;
	margin: 5vh 0 1vh 0;
}

.color {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 3px;
	border: 1px solid #000;
}

.color:hover {
	cursor: pointer;
	filter: saturate(2);
}

.M {
	background-color: #AF1FB5;
}
.B {
	background-color: #41c8e2;
}
.Y {
	background-color: #EEE506;
}
.G {
	background-color: #23ED9B;
}
.P {
	background-color: #f499fc;
}
.O {
	background-color: #FEAB0A;
}
