.pegs {
	display: inline-block;
	vertical-align: top;
}

.pegs .active {
	opacity: 1;
}

.pegs .played {
	opacity: 1;
}

.peg {
	background-color: #aaa;
	border: 1px solid #000;
	width: 6px;
	height: 6px;
	display: inline-block;
	margin: 0 4px 4px 4px;
	padding: 0;
	border-radius: 6px;
}

.maybe {
	background-color: #fff !important;
}

.definitely {
	background-color: #000 !important;
}