.row {
	display: inline-block;
}

.choice {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 3px;
	vertical-align: top;
	padding: 0;
}

.active {
	background-color: #aaa;
	opacity: 1;
}

.willPlay {
	background-color: #aaa;
	opacity: 0.3;
}

.played {
	opacity: 1;
}

.ble {
	background-color: #000;
}

.M {
	background-color: #A64D71;
}
.B {
	background-color: #3A8FFA;
}
.Y {
	background-color: #E8CD4D;
}
.G {
	background-color: #7A9284;
}
.P {
	background-color: #af96cd;
}
.O {
	background-color: #fa9d7e;
}
